.content {
    padding: 6.8rem 2.4rem;
    padding: 0;
    background: rgba(234, 234, 234, 1);
    width: 100%;
    position: relative;
    margin-top: 11rem;
    
    @media (min-width: 640px) {
        width: var(--site-width-max);
        margin: 0 auto;
        padding: 4rem 4.2rem 3.4rem;
        margin-top: 15.5rem;
    }
}
.content-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0 4rem;
    
}
.content-left-grid {
    width: 100%;
    @media (max-width: 640px) {
        padding: 5rem 2.8rem 3rem;    
        border-bottom: 1px solid rgba(199, 199, 199, 1);
    }
    @media (min-width: 640px) {
        width: calc(100% - 38rem);
    }
}
.content-top-part {
    height: 5rem;
    
    @media (min-width: 640px) {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        padding-left: 0.5rem; 
    }
    
    
    @media (max-width: 640px) {
        position: fixed;
        left: 0;
        top: 6.5rem;
        z-index: 999;
        width: 100%;
        height: 4.5rem;
    }

    
}
.content-right-grid {
    width: 100%;
    
    @media (min-width: 640px) {
        width: 34rem;
        flex: 0 0 auto;
    }
}
.content-page-title {
    width: 100%;
    
    @media (max-width: 640px) {
        height: 4.5rem;
        line-height: 4.5rem;
        background: rgba(0, 0, 0, 0.8);
        text-align: center;
       
    }
    @media (min-width: 640px) {
        top: 10rem;
    }
}

   
   
