.header {
    --header-bg-color: var(--color-dark1);
    
    position: relative;
    background: url('../img/header-bg.png') no-repeat center bottom var(--header-bg-color);
    height: 11rem;
    // background-size: 300% auto;
    background-position-x: 54%;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 100;
    @media (min-width: 640px) {
        height: 15.5rem;
        background: url('../img/header-bg.png') no-repeat center top var(--header-bg-color);
    }
}